img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
    animation: bouncein 1s ease-in-out;
}

.navbar {
  background-color: lightblue;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.Home_footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}