{% load static %} 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
    <style>
        img {
            display: block;
            width: 100%;
            height: 50%;
            object-fit: cover;
            animation: bouncein 1s ease-in-out;
        }

        .navbar {
          background-color: lightblue;
          overflow: hidden;
          display: flex;
          justify-content: flex-start;
          padding: 10px;
        }
        
        .navbar-left {
          display: flex;
          align-items: center;
        }
        
        .navbar a {
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .navbar a:hover {
          background-color: #ddd;
          color: black;
        }
        .Home_footer {
            background-color: #444;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
        }

      </style> 
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'index' %}">Home</a>

        </div>
      </div>
    </nav>

    <br>
    <h2 class="alert alert-warning text-center">Food Waste & Mitigation</h2>
  <h3 class="text-center mt-5 mb-3"><b>Group Details</b></h3>
  <div class="container mt-3">
    <div class="row">
      <div class="card col mx-2 border border-2 border-success rounded">
        <div class="card-body">
          <h5 class="card-title">Name : <b>Ali Zain Kanani</b></h5>
          <h5 class="card-text">Student Id : <b>S357899</b></h5>
          <h5 class="card-text">Email Id : <b>Alizain572@hotmail.com</b></h5>
        </div>
      </div>
      <div class="card col mx-2 border border-2 border-success rounded">
        <div class="card-body">
          <h5 class="card-title">Name : <b>K M Ekhtiaruddin</b></h5>
          <h5 class="card-text">Student Id : <b>S343230</b></h5>
          <h5 class="card-text">Email Id : <b>Animkhandakar18@gmail.com</b></h5>
        </div>
      </div>
    </div>
    <div class="row mt-2">
       <div class="card col mx-2 border border-2 border-success rounded">
        <div class="card-body">
          <h5 class="card-title">Name : <b>Prashanna Bastola</b></h5>
          <h5 class="card-text">Student Id : <b>S343033</b></h5>
          <h5 class="card-text">Email Id : <b>Bastolaprashanna@gmail.com</b></h5>
        </div>
      </div>
       <div class="card col mx-2 border border-2 border-success rounded">
        <div class="card-body">
          <h5 class="card-title">Name : <b>Nickson Sangroula</b></h5>
          <h5 class="card-text">Student Id : <b>S357696</b></h5>
          <h5 class="card-text">Email Id : <b>Sangroulanickson01@gmail.com</b></h5>
        </div>
      </div>
    </div>
  </div>
    
    <div class="container mt-5">
      <div class="content">
        <img src="{% static "home_img.jpg" %}" alt="home" /> <br>
        <h2><p>Food waste is the discarding of edible food that is still suitable for human consumption. It is a major global issue, with an estimated 1.3 billion tons of food being wasted every year. This is not only a waste of resources and money, but it also has negative environmental, social, and ethical impacts. </p></h2>
    </div>
      
    <div class="container">
        <div class="box">
          <p class="fs-3 text-primary">
            <b>Some of the reasons for food waste include:</b>
          </p>
          <div class="card col mx-2 border border-3 border-primary rounded">
            <div class="card-body">
              <ul>
                <li class="fs-4 text-danger">Overproduction: Farmers, manufacturers, and retailers often produce more food than is needed or sellable, leading to excess waste.</li>
                <li class="fs-4 text-danger">Expiration dates: Many consumers throw away food that is still edible because it has passed its expiration date or best before date.</li>
                <li class="fs-4 text-danger">Cosmetic standards: Supermarkets and restaurants often reject perfectly good food that doesn't meet cosmetic standards, such as fruits and vegetables that are not perfectly shaped or sized.</li>
                <li class="fs-4 text-danger">Overbuying: Consumers often buy more food than they can consume before it spoils, leading to waste.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box">
          <p class="fs-3 text-primary mt-2">
            <b>Reducing food waste can have significant benefits, including:</b>
          </p>
          <div class="card col mx-2 border border-3 border-primary rounded">
            <div class="card-body">
              <ul>
                <li class="fs-4 text-success">Saving money: Reducing waste can save consumers, businesses, and governments money.</li>
                <li class="fs-4 text-success">Reducing greenhouse gas emissions: Food waste generates significant greenhouse gas emissions, contributing to climate change.</li>
                <li class="fs-4 text-success">Improving food security: Reducing waste can help ensure that more food is available for those in need.</li>
                <li class="fs-4 text-success">Conserving resources: Reducing waste helps conserve resources, such as water and energy, that are used to produce and transport food.</li>
              </ul>
            </div>
            </div>
        </div>
        <div class="box">
          <p class="fs-3 text-primary mt-2">
            <b>Explore:</b>
          </p>
          <div class="card col mx-2 border border-3 border-primary rounded">
            <div class="card-body">
              <ul>
                <li class="fs-4 text-success"> Discover the profound consequences of food waste, delve into effective strategies to minimize waste in your daily routine, and access valuable resources to actively contribute to the movement against food waste. Let's unite in building a sustainable and equitable food system for the betterment of all.</li>
              </ul>
              
            </div>
          </div>
        </div>
    </div>
      <div class="content">
        <h2><p>To reduce food waste, individuals can take actions such as planning meals in advance, buying only what they need, storing food properly, and using leftovers. Businesses and governments can also take actions such as implementing food recovery and donation programs, reducing overproduction, and improving labeling standards. </p></h2>
    
      </div>
    </div>
    <footer class="Home_footer">
		<p>&copy; Food Waste & Mitigation | Designed by Ali Zain, Prashanna, Nickson, K M Ekhtiaruddin </p>
	</footer>    
</body>

</html>